{% extends "layout.html" %}

{% block nav %}
<div class="navbar">
    <a href="{% url 'mainpage' %}" class="website-link">
        <span class="website-name">DigitalDen</span>
    </a>
    <div>
        {% if user.is_authenticated %}
            <a href="storepage">Store</a>
            <a href="{% url "cartpage" %}">Cart</a>
            <a href="{% url "myorders" %}">My Orders</a>
            {% if user.user_type == 'seller' %}
            <a href={% url "addstore" %}>Add Store</a>
            <a href="{% url 'sellerorder' %}">Orders</a>
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>

        {% else %}
            <a href="{% url 'loginpage' %}">Sign In</a>
            <a href="{% url 'registerpage' %}">Sign Up</a>
        {% endif %}
    </div>
</div>

{% endblock nav %}

{% block content %}
<style>
.cart-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.cart-item h1 {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.product-image {
    width: 8cm;
    height: 8cm;
    object-fit: cover; 
    border-radius: 10px; 
}

.cart-item button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 2px 4px; /* Adjust padding to make the button smaller */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:80px;
}

.quantity-input {
    width: 40px;
    text-align: center;
}
</style>

{% for cart in cart_items %}
<div class="cart-item">
    <img src="{{ cart.product_of_user.image_of_product.url }}" alt="image-of-product" class="product-image">
    <h1><a href="{% url 'productpage' cart.product_of_user.slug %}">{{ cart.product_of_user.name }}</a></h1>
    <form method="POST" action="{% url "updatecart" cart.id %}">
        {% csrf_token %}
        <label for="quantity">Quantity:</label>
        <input type="number" class="quantity-input" id="quantity" name="quantity" value="{{ cart.quantity }}" min="1">
        <input type="hidden" name="cart_id" value="{{ cart.id }}">
        <button type="submit">Update</button>
    </form>
    <h4>Price:{{ cart.product_of_user.price }}</h4>
    <h4>Total price: {{ cart.total_price }}</h4>
    {% if user.is_authenticated %}
    <a href={% url 'buypage' cart.product_of_user.slug %}>
        <button>Buy</button>
    </a>
{% else %}
    <p>Please <a href="{% url 'loginpage' %}">sign in</a> or <a href="{% url 'registerpage' %}">register</a> to proceed with the purchase.</p>
{% endif %}
    <form method="POST" action="{% url 'deletecart' cart.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
</div>
{% endfor %}

{% endblock content %}
